* {
  padding:0;
  margin:0;
  font-family: 'Roboto', sans-serif;
}

body {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  color:#554b3f;

}

.clearfix {
  overflow: auto;
}

.education-entry, .work-entry, .project-entry {
  padding-left: 5%;
  padding-right: 5%;
}

h1 {
  font-family: 'Damion', cursive;
  font-size: 65px;
  font-weight: 400;
  color: #94d3da;
  line-height: 80px;
  display: inline;
}

h2 {
  font-family: 'Damion', cursive;
  font-size: 45px;
  font-weight: 400;
  color: #daac6d;
  line-height: 45px;
  padding: 10px;
}

h3 {
  font-style: italic;
  font-size: 20px;
  color: #554b3f;
  line-height: 22px;
}

h4 {
  font-weight: bold;
  font-size: 14px;
  color: #554b3f;
  line-height: 17px;
}

h2, h4, h5 {
  padding:10px;
  padding-left: 5%;
  padding-right: 5%;
}

.date-text {
  font-style: italic;
  font-size: 14px;
  color: #daac6d;
  line-height: 16px;
  float: left;
}

.location-text {
  font-style: italic;
  font-size: 14px;
  color: #daac6d;
  line-height: 16px;
  float: right;
}

p {
  font-size: 14px;
  color: #554b3f;
  line-height: 21px;
}

a {
  text-decoration: none;
  color: #554b3f;
  margin-top: 10px;
  display: block;
}

hr {
  margin-bottom: 10px;
}

.welcome-message {
  font-style: italic;
  font-size: 20px;
  color: #f2ebce;
  line-height: 30px;
}

#skillsH3 {
  color: #94d3da;
  display: none;
  margin-top: 8px;
  margin-bottom: 4px;
}

#skills {
  margin-bottom: 15px;
}

.orange {
  background-color: #c8d586;
}

.blue-text {
  color: #eba871;
}

.off-white-text {

  color: #f2ebce;
}

.green {
  background-color: #d2df8e;
  padding-bottom: 10px;
  clear:both;
}

.off-white {
  background-color: #f2ebce;
}

.brown {
  background-color: #554b3f;
}

/* TODO: Replace with image later */
#header {
  min-width: 500px;
  background-color:#554b3f;
}

.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

.center-content {
  padding-top: 2.5%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 2.5%
}

ul {
  list-style-type: none;
}

.biopic {
  float: left;
  padding: 10px;
  width: 200px;
  display: none;
}

img {
  padding: 10px;
}

/* Bar chart stuff */
.chart div {
  font: 10px sans-serif;
  background-color: #554b3f;
  text-align: right;
  padding: 3px;
  margin: 1px;
  height: 12px;
  color: white;
  display: inline-block;
}

.icon {
  color: #f2ebce;
  display: inline-block;
}

.role {
  color: #f2ebce;
  padding: 20px;
}

#letsConnect {
  text-align: center;
  color: #f2ebce;
}

#footerContacts {
  font-size: 35px;
  color: #f2ebce;
}

@font-face {
  font-family: 'icomoon';
  src:url('fonts/icomoon.eot?3b83gw');
  src:url('fonts/icomoon.eot?#iefix3b83gw') format('embedded-opentype'),
    url('fonts/icomoon.ttf?3b83gw') format('truetype'),
    url('fonts/icomoon.woff?3b83gw') format('woff'),
    url('fonts/icomoon.svg?3b83gw#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-google-plus3:before {
  content: "\e600";
}
.icon-facebook3:before {
  content: "\e601";
}
.icon-twitter3:before {
  content: "\e602";
}
.icon-github:before {
  content: "\e603";
}




@media only screen and (min-width: 810px) {
.headerDecor {
  height: 50px;
  background-color:#554b3f;
  background-image: url("images/header_small.jpg");
  background-repeat: repeat-x;
  background-position: center bottom;
}
}

@media only screen and (max-width: 1024px) {
  #letsConnect {
    margin-top: 5%;
  }
}

@media only screen and (max-width:900px) {
  .biopic {
    width: 175px;
  }
}

@media only screen and (max-width: 750px) {
  #letsConnect {
    margin-top: 10%;
  }
  .biopic {
    width: 150px;
  }
  .welcome-message {
    display: none;
  }
}

#map {
  display: block;
  height: 100%;
  margin-left: 5%;
  margin-right: 5%;
}

#mapDiv {
  height: 400px;
  width: 100%;
  padding-bottom: 5%;
}

@media only screen and (min-width: 750px) {
  #skillsH3,
  .biopic {
    display: block;
  }
}
